.productpage_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.basicproduct {
  display: flex;
  border-radius: 0;
  flex-direction: row;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  width: 950px;
}

.product_description {
  display: flex;
  flex-direction: column;
}

.product_desc {
  font-size: 30px;
}

.product_price {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 0px;
}

.product_price .offer {
  font-size: 15px;
}

.img {
  border-radius: 0;
  border: 1px solid black;
  height: 400px;
  width: 400px;
}

.product_image img {
  border-radius: 0;
  object-fit: cover;
  height: 400px;
  width: 400px;
}

.product_description button {
  background-color: rgb(103, 213, 103);
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  border: 0.5px solid green;
  margin-top: 10px;
}

.product_description a {
  color: black;
}

@media (max-width: 950px) {
  .basicproduct {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .basicproduct {
    flex-direction: column;
  }
  .img {
    border-radius: 0;
    border: 1px solid black;
    height: 300px;
    width: 300px;
  }

  .product_image img {
    border-radius: 0;
    height: 300px;
    width: 300px;
    object-fit: contain;
  }

  .product_desc {
    font-size: 20px;
  }
}
